[submodule "learn-ngrx-from-the-creators/ngrx-workshop-ngconf2020"]
	path = workshops/learn-ngrx-from-the-creators/ngrx-workshop-ngconf2020
	url = git@github.com:stevewhitmore/ngrx-workshop-ngconf2020.git
